@import url("../index.css");

.convertor {
  button {
    margin-top: 40px;
  }

  input[type="file"] {
    opacity: 0;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 42px;

    img,
    video,
    canvas {
      display: block;
      width: 240px;
      min-height: 100px;
    }

    img,
    canvas {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }

  .item {
    position: relative;
    margin-right: 24px;
  }
  .tag {
    display: inline-block;
    margin-bottom: 8px;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  div.ant-progress {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    > div {
      display: flex;
    }
  }
}

.control-content {
  position: relative;
}

.item-control {
  $btn-size: 46px;

  .controllBtn {
    display: none;
    position: absolute;
    width: $btn-size;
    height: $btn-size;
    border-radius: 50%;
    background-color: rgb(26, 26, 26, 0.3);
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: $btn-size;
  }
  &:hover {
    cursor: pointer;

    .controllBtn {
      display: block;
    }
  }
}
