.grab-vedio {
  width: 60%;
}

.form {
  width: 400px;
  margin: 45px auto;

  .ant-input-affix-wrapper {
    border: 1px solid transparent;
    border-bottom: 1px solid #434343;
    margin-bottom: 24px;
  }
}
